body, h1, h2, p, ul, ol {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}
.heading{
    text-align: center;

}
.container {
    border-radius: 25px;
    background-color:rgb(156, 216, 236);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
